body{

  padding: 0%;
  margin: 0%;
}


#header{

font-family: "Raleway", sans-serif;

height: 80px;
}


.head{

color: #0b2341;

font-size: 37px;


position: relative;

left: 48px;

top: 18px;

font-weight: initial;

cursor: pointer;

}
  
  .list{
  
position: absolute;
  
top: 13px;
  
list-style: none;
  
display: flex;
  
right: 283px;
  
font-size: larger;
  
font-family: "Raleway", sans-serif;
  }
  .list-item{
  
display: inline-block;
  
padding-right: 30;
  
color: #0b2341;
  
list-style: none;
  
text-decoration: none;
  
cursor: pointer;
  }
  .btn{
  
position: absolute;
  
top: 18px;
  
right: 54px;
  
color: white;
  
padding: 13px 35px;
  
background: #ed502e;
  
cursor: pointer;
  
border-color: #ed502e;
  
border: solid;
  
border-radius: 7px;
}
  .btn:hover
  {
color:#ed502e;
background: white;
  }
  
  .list-item:hover
  {
    color:#ed502e;
  
  } 
  .bg
  {
    width: 100%;
    height: 500;
  }
  .bg-content{
    color: #fff;
    margin: 0;
    font-size: 48px;
    top: 223px;
    font-weight: 700;
    position: absolute;
    left: 71px;
    font-family: "Raleway", sans-serif;
  }   
  
  .bg-p
  {
    color: #fff;
    margin: 0;
    font-size: 20px;
    top: 300px;
    position: absolute;
    left: 71px;
    font-family: "Raleway", sans-serif;
  }
  .bg-btn
  {
    position: absolute;
    top: 104px;
    left: 3px;
    color: white;
    padding: 13px 35px;
    background: #ed502e;
    cursor: pointer;
    border-color: #ed502e;
    border-radius: 6px;
    border: none;
  }

  .bg-btn:hover
  {

color:#ed502e; 

background: white;

  }
  #about

  {

height: 339px;

display: flex;

justify-content: center;

align-items: center;
}
.about-box{

/* border: 2px solid; */

width: 631px;

height: 334px;

margin: 12px;
}

.about-h1{
  font-family: 'Ubuntu', sans-serif;
  color: #a5a5a5;
  position: relative;
  top: 25px;
  left: 37px;
  font-weight: 100;
}
.about-h1::after{

content: '';

background: #ed502e;

height: 2px;

position: absolute;

width: 57px;

left: 70px;

top: 10px;
}
.about-h2{
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  top: 0px;
  left: 38px;
  font-size: xx-large;
  color: #0f2f57;
}
.about-btn{
  text-decoration: none;
  color: #ed502e;
  background:  white;
  padding: 9px 29px;
  position: relative;
  top: 29px;
  left: 27px;
  border-radius: 9px;
  font-family: 'Ubuntu',sans-serif;
  border: solid #ed502e;
}

.about-btn:hover{

  color: wheat;
  background: #ed502e;
}

.check{
color: #ed502e;
padding-right: 7px;
}

#about-box4{
  justify-content: center;
  background: white;
  align-items: center;
  height: 300px;
  display: flex;
}

.sbox{
  background: white;
  height: 224px;
  display: inline-block;
  overflow: hidden;
  width: 260px;
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  margin: 19px;
}

.num1{

top: 16px;

font-size: 47px;

font-family: 'Ubuntu';

color: #0b2341;

left: 78px;

display: inline;

position: relative;
}

.b1{

font-family: 'Poppins';

position: relative;

top: 16px;

left: 24px;
}

.find{
top: 19px;
  
position: relative;

color: #0f2f57;
  
font-family: 'Ubuntu';

left: 24px;}

.ic{

font-size: 39px;

position: relative;

top: 13px;

color:#ed502e;

left: 61px;
}

#about2{
background-color: blue;
height: 300px;

}

.ab2-left
{
background-color: red;
height: 200px;
}

.ab2-right{
background-color: green;
height: 200px;
}
@media (min-width:320px) and (max-width:450px){

  #header{

    height: 60px;
  }

  .head{

    font-size: 27px;
    position: relative;
    left: 13px;
    top: 17px;
}

.list{

display: none;


}

.btn{
  position: absolute;
    top: 8px;
    right: 12px;
    padding: 11px;
}

.btn:hover
{
color:#ed502e;
background: white;
}
  

  #about-box4{

    display: block;

     
  }
  
  .sbox{
  height: 300px;
  width: 100%;
  margin: 0px;
   
  }
}